/*.masthead,*/
/*.footer {*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*font-family: 'SilkscreenNormal', monospace;*/
/*}*/

@media (min-width: 768px) {
  .navbar-nav>li {
    float: none;
  }
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr_5rZpfU3XI-FvUPGDRT0xY.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700,400);
@font-face {
  font-family: 'SilkscreenNormal';
  src: url("/fonts/slkscr-webfont.eot");
  src: url("/fonts/slkscr-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscr-webfont.woff") format('woff'), url("/fonts/slkscr-webfont.ttf") format('truetype'), url("/fonts/slkscr-webfont.svg#SilkscreenNormal") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenBold';
  src: url("/fonts/slkscrb-webfont.eot");
  src: url("/fonts/slkscrb-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscrb-webfont.woff") format('woff'), url("/fonts/slkscrb-webfont.ttf") format('truetype'), url("/fonts/slkscrb-webfont.svg#SilkscreenBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenExpandedNormal';
  src: url("/fonts/slkscre-webfont.eot");
  src: url("/fonts/slkscre-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscre-webfont.woff") format('woff'), url("/fonts/slkscre-webfont.ttf") format('truetype'), url("/fonts/slkscre-webfont.svg#SilkscreenExpandedNormal") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenExpandedBold';
  src: url("/fonts/slkscreb-webfont.eot");
  src: url("/fonts/slkscreb-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscreb-webfont.woff") format('woff'), url("/fonts/slkscreb-webfont.ttf") format('truetype'), url("/fonts/slkscreb-webfont.svg#SilkscreenExpandedBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SG1212';
  src: url("/fonts/sg12-webfont.eot");
  src: url("/fonts/sg12-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/sg12-webfont.woff") format('woff'), url("/fonts/sg12-webfont.ttf") format('truetype'), url("/fonts/sg12-webfont.svg#SG1212") format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
}

a, a:hover {
  color: rgb(46,43,37);
  text-decoration: underline;
}

form, fieldset {
  border: none;
}

legend {
  font-size: larger;
}

blockquote {
  border-left-color: #b4c1a3;
}

hr {
  border-top: 1px dotted #b4c1a3;
}

.navbar {
  margin-bottom: 1em;
}

#tickets {
  margin-bottom: 2em;
}

.navbar, .navbar-default {
  border-radius: 0px;
  border: none;
  background: #f1daa9;
  border-bottom: 5px solid #D87152;
  border-top: 5px solid #D87152;
}

.navbar a, .navbar a:hover, .btn, h3 a, h3 a:hover, .title a, .title a:hover {
  text-decoration: none;
}

body {
  font-size: 170%;
  color: rgb(46,43,37);
  background-color: #EDF5F7;
  font-family: "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media(min-width:768px) {
  body {
    font-size: 220%;
  }
}

h1, h2, h3, h4, h5, h6, .navbar, .buy-tickets  {
  font-family: 'Titillium Web', 'Helvetica', sans-serif;
  font-weight: bold;
  margin: 0;
}

.twitter-tweet {
  margin: 0 auto !important;
}

.wrap {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.wrap, #content-wrap {
  padding: 0.5em 1em;
  margin-top: 1em;
  background: rgba(255, 255, 255, 0.3);
}

main h2, main h3 {
  margin-top: 1em;
}

/*main h2:first-child, main h3:first-child {*/
  /*margin-top: 0;*/
/*}*/

.nav a,
.nav a:link,
.nav a:visited {
  color: #565A5B
}

.nav>li>a:hover, .nav>li>a:focus, .nav>li.active a {
  background: rgba(255, 255, 255, 0.4);
}

.buy-tickets {
  text-transform: uppercase;
  font-size: 1.2em;
}

#buy-tickets {
  font-size: 4em;
  margin-bottom: 0;
}

@media(min-width:768px) {
  .home h1 {
    font-size: 250%;
  }

  .home h2 {
    font-size: 220%;
    margin: 0 auto;
  }

  h3 {
    font-size: 140%;
    line-height: 1.1em;
  }

  h4 {
    font-size: 120%;
    line-height: 1.5em;
  }
}


main img {
  width: 100%;
}

header > *, footer > * {
  text-align: center;
}
nav {}
header {
  margin-bottom: 2em;
}

p {
  margin-bottom: 1.4em;
  margin-top: 1em;
}

.logo {
  font-family: 'SG1212', monospace;
  font-weight: normal;
  text-transform: uppercase;
}

header .logo {
  font-size: 3em;
  line-height: 1em;
  margin: 0.2em 0;
  padding: 0;
}

.home header .logo {
  font-size: 4em;
  line-height: 1em;
  margin: 0.2em 0;
  padding: 0;
  margin-bottom: 2vw;
}

header .blurb {
  margin-bottom: 4vw;
  margin-top: 2vw;
  /*margin: 1em 0;*/
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
}

@media(min-width:768px) {
  .home header .logo {
    font-size: 6em;
  }
  header .logo {
    font-size: 4em;
  }
}

header h2 {
  margin-bottom: 0;
}

h2 {
  /*font-family: 'SG1212', monospace;*/
  /*font-weight: normal;*/
  /*text-transform: uppercase;*/
  /*font-size: 2em;*/
  /*text-align: left;*/
  margin-bottom: 1em;
}

body > .wrap {
  position: relative;
  z-index: 1;
}

#background {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 0;
}

#mentors {
  overflow: auto;
}

#mentors h2 {
  margin-bottom: 1em;
}
.mentor {
  margin: 0.5em 0;
}

.mentor img {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}
.mentor h3 {
  font-size: 0.75em;
  margin: 0.5em 0;
  margin-bottom: 0em;
}

.mentor .links {
  margin: 0;
}

.mentor .links img {
  width: 0.75em;
  height: 0.75em;
}
.mentor .links a {
  opacity: 0.3;
}

.mentor .links a:hover {
  opacity: 1;
}

.mentor .description {
  font-size: 0.8em;
}

#tickets {
  margin-top: 3em;
}

#nodeschool {
  overflow: auto;
}

#nodeschool .desc {
  font-size: smaller;
}

#nodeschool .box {
  text-align: left;
  padding: 0;
}

#nodeschool .logo {
  text-align: center;
  margin: 2em auto;
}
#nodeschool .logo img {
  width: auto;
  width: 60%;
}

#nodeschool .box img {
  height: 120px;
  width: auto;
  margin-bottom: 0.5em;
  max-width: 180px;
}

#nodeschool .box .title {
  font-size: 1em;
  margin: auto;
  margin-bottom: 0.5em;
}

.scrollback-stream {
  z-index: 2;
}
