/*.masthead,*/
/*.footer {*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*font-family: 'SilkscreenNormal', monospace;*/
/*}*/

@media (min-width: 768px) {
  .navbar-nav>li {
    float: none;
  }
}

@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 700;
  src: local('Titillium WebBold'), local('TitilliumWeb-Bold'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/anMUvcNT0H1YN4FII8wpr_5rZpfU3XI-FvUPGDRT0xY.woff) format('woff');
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 400;
  src: local('Titillium Web'), local('TitilliumWeb-Regular'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v1/7XUFZ5tgS-tD6QamInJTcZ_o9VAbKgK36i-4snuAuCM.woff) format('woff');
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web:700,400);
@font-face {
  font-family: 'SilkscreenNormal';
  src: url("/fonts/slkscr-webfont.eot");
  src: url("/fonts/slkscr-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscr-webfont.woff") format('woff'), url("/fonts/slkscr-webfont.ttf") format('truetype'), url("/fonts/slkscr-webfont.svg#SilkscreenNormal") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenBold';
  src: url("/fonts/slkscrb-webfont.eot");
  src: url("/fonts/slkscrb-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscrb-webfont.woff") format('woff'), url("/fonts/slkscrb-webfont.ttf") format('truetype'), url("/fonts/slkscrb-webfont.svg#SilkscreenBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenExpandedNormal';
  src: url("/fonts/slkscre-webfont.eot");
  src: url("/fonts/slkscre-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscre-webfont.woff") format('woff'), url("/fonts/slkscre-webfont.ttf") format('truetype'), url("/fonts/slkscre-webfont.svg#SilkscreenExpandedNormal") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SilkscreenExpandedBold';
  src: url("/fonts/slkscreb-webfont.eot");
  src: url("/fonts/slkscreb-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/slkscreb-webfont.woff") format('woff'), url("/fonts/slkscreb-webfont.ttf") format('truetype'), url("/fonts/slkscreb-webfont.svg#SilkscreenExpandedBold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SG1212';
  src: url("/fonts/sg12-webfont.eot");
  src: url("/fonts/sg12-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/sg12-webfont.woff") format('woff'), url("/fonts/sg12-webfont.ttf") format('truetype'), url("/fonts/sg12-webfont.svg#SG1212") format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  width: 100%;
}

a {
  color: #D87152;
  text-decoration: none;
}

form, fieldset {
  border: none;
}

legend {
  font-size: larger;
}

blockquote {
  border-left-color: #b4c1a3;
}

hr {
  border-top: 1px dotted #b4c1a3;
}

.navbar, .navbar-default {
  border-radius: 0px;
  border: none;
  background: #f1daa9;
  border-bottom: 5px solid #D87152;
  border-top: 5px solid #D87152;
}

body {
  font-size: 170%;
  color: #333;
  background-color: #EDF5F7;
  font-family: "Myriad Pro", Myriad, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media(min-width:768px) {
  body {
    font-size: 220%;
  }
}



h1, h2, h3, h4, h5, h6, .navbar, .buy-tickets  {
  font-family: 'Titillium Web', 'Helvetica', sans-serif;
  font-weight: bold;
}

.twitter-tweet {
  margin: 0 auto !important;
}
.wrap, #content-wrap {
  background: rgba(255, 255, 255, 0.3);
}

main h2, main h3 {
  margin-top: 1em;
}

.nav a,
.nav a:link,
.nav a:visited {
  color: #565A5B
}

.nav>li>a:hover, .nav>li>a:focus, .nav>li.active a {
  background: rgba(255, 255, 255, 0.4);
}

.buy-tickets {
  text-transform: uppercase;
}

#buy-tickets {
  font-size: 1.7em;
  margin: 2em 0;
  margin-bottom: 0;
}

@media(min-width:768px) {
  .home h1 {
    font-size: 250%;
  }

  .home h2 {
    font-size: 220%;
  }

  h3 {
    font-size: 140%;
    line-height: 1.1em;
  }

  h4 {
    font-size: 120%;
    line-height: 1.5em;
  }
}


main img {
  width: 100%;
}

header > *, footer > * {
  text-align: center;
}
nav {}
header {
  margin-bottom: 2em;
}

p {
  margin-bottom: 1.3em;
}

#new_event_interested_user {
  
}

.nav {
}

.logo {
  font-family: 'SG1212', monospace;
  font-weight: normal;
  text-transform: uppercase;
}

header .logo {
  font-size: 3em;
  line-height: 1em;
  margin: 0.2em 0;
  padding: 0;
}

.home header .logo {
  font-size: 4em;
  line-height: 1em;
  margin: 0.2em 0;
  padding: 0;
  margin-bottom: 7vw;
}

@media(min-width:768px) {
  .home header .logo {
    font-size: 6em;
  }
  header .logo {
    font-size: 4em;
  }
}



header h2 {
  line-height: 0.8em;
}

h2 {
  /*font-family: 'SG1212', monospace;*/
  /*font-weight: normal;*/
  /*text-transform: uppercase;*/
  /*font-size: 2em;*/
  /*text-align: left;*/
}

body > * {
  position: relative;
  z-index: 2;
}

#background {
  position: fixed;
  top: 0;
  /*bottom: 0;*/
  width: 100%;
  z-index: 0;
}

