@import 'nib'
@import './fonts'

y-offset = 300px
mountain-height = 101px
content-start = y-offset + 100px

html
  background-repeat: repeat-x
  background-color: #d1dfbc
html, body
  width: 100%
body
  font-family: 'Lato', 'Helvetica', sans-serif
  color: #555
  text-shadow: -1px -1px 0px rgba(#DDD, 0.3)
  background: transparent
  padding-bottom: 0px
  min-width: 1024px
  ul
    li
      font-size: 110%
.bg
  position: absolute
  top: 0
  height: 100%
  width: 100%
  background-position-x: center
  background-repeat: no-repeat
  overflow: visible
  z-index: 10

div[data-stellar-ratio]
  -webkit-backface-visibility: hidden
  -webkit-perspective: 10000

.repeat
  background-repeat: repeat-x

.sky
  position: fixed
  background-color: #e0f3fa
  background-attachment: fixed
  height: 450px
.grass
  background-color: #d1dfbc
  background-attachment: fixed
  margin-top: 301px
  z-index: 13
.clouds
  background-image: url('/images/clouds.png')
  margin-top: 160px

.small-mountains
  background-image: url('/images/small-mountains.png')
  height: 101px
  margin-top: 200px
  z-index: 12
.large-mountains
  background-image: url('/images/large-mountains.png')
  height: 101px
  margin-top: 200px
  z-index: 12
.monolith
  background-image: url('/images/monolith.png')
  margin-top: 180px
  height: 392px
.back, .mid, .fore
  z-index: 13
  margin-top: 180px
.back
  background-image: url('/images/back.png')
.mid
  background-image: url('/images/mid.png')
  margin-top: 180px
.fore
  background-image: url('/images/fore.png')
  margin-top: 340px

.masthead, .footer
  width: 100%
  text-align: center
  font-family: 'SilkscreenNormal', monospace
  h1
    font-family: 'Shakagraphics', monospace
    font-weight: normal;
    text-transform: uppercase
    font-size: 135px
    display: inline
  h2
    margin: 0px 0 0
    font-size: 15.3px
    display: block
.row
  margin-bottom: 25px
.masthead
  top: 0
  margin-top: 60px
  position: absolute
  z-index: 11
  position: fixed
.footer
  background-color: #d1dfbc
  margin-top: 40px
  position: relative
  top: -1px
  z-index: 15
  padding-bottom: 100px
.promo
  h2
    font-size: 2em
.topics
  ul
    margin: 0
  li
    float: left
    list-style-type: none
    margin: 3px
    font-size: 105%

.authors
  padding-left: 90px
.content
  .promo
    h3, h4
      letter-spacing: -1px
  background-color: #d1dfbc
  position: relative
  z-index: 15
  margin-top: 650px


