!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CAMPJS: Javascript hack retreat for node.js and web-application developers.
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/css/screen.css?v=3')
    link(href='http://fonts.googleapis.com/css?family=Lato:400,900', rel='stylesheet', type='text/css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')
      link(rel='stylesheet', href='/vendor/iealert.css?v=3')

  body
    .bg.sky.repeat(data-stellar-ratio="0.75")
    .bg.clouds.repeat(data-stellar-ratio="0.75")
    .bg.small-mountains.repeat(data-stellar-ratio="0.78")
    .bg.large-mountains(data-stellar-ratio="0.79")
    .bg.grass.repeat(data-stellar-ratio="0.8")
    .bg.back(data-stellar-ratio="0.85")
    .bg.mid(data-stellar-ratio="0.92")
    .bg.fore(data-stellar-ratio="0.97")
    .masthead
      h1 CAMPJS
      h2 Gold Coast Hinterland, Australia. October&nbsp;19th&nbsp;&mdash;&nbsp;22nd
    .content
      .container
        .row
          .span12.promo
            h2 Join us for a weekend-long Javascript hack retreat.
        .row
          .span4.offset1.sheep
            p
              img(src="/images/sheep.png")
          .span5
            form.register(method="POST", action="http://campjs.nodejitsu.com/register")
              .input-append
                input.details.span3(size='16', type='text', name='details', placeholder='email or twitter')
                input.btn.btn-inverse(type='submit', value="Register Interest!")
              .message
                p

        .row
          .span4
            h3 Details
            ul
              li Gold Coast Hinterland, Queensland, Australia
              li <strong>Start</strong>: Friday Afternoon, October 19th
              li <strong>End</strong>: Monday Morning, October 22nd
              li <strong>Price</strong>: approx. $350 (TBA)
            h4 More details to be released soon.
            p
              :markdown
                Contact [Tim Oxley](http://twitter.com/secoif) if you have questions.
          .span4
            h3 Included with Ticket
            ul
              li Food
              li Power
              li Talks
              li Alcohol
              li Comfortable Sleeping Quarters (Camping Optional)
          .span4.topics
            h3 Who should come? Anyone interested in
            ul
              li.label.label-info NodeJS
              li.label.label-info Backbone
              li.label.label-info CoffeeScript
              li.label.label-info jQuery
              li.label.label-info Ember
              li.label.label-info Express
              li.label.label-info Web Sockets
              li.label.label-info Angular
              li.label.label-info Underscore
              li.label.label-info Mustache
              li.label.label-info Flatiron
              li.label.label-info Streams
              li.label.label-info Deployment
              li.label.label-info Testing
              li.label.label-info NoSQL
              li.label.label-info Functional
              li.label.label-info Architecture
              li.label.label-info Scaling
              li.label.label-info Beer
    .footer
      img(src="/images/logo.png")
      .authors
        :markdown
          By [Tim Oxley](http://twitter.com/secoif) and [Nigel Rausch](http://twitter.com/nr99)

    script(src='/js/libs.min.js')
    script(src='/js/templates.min.js')
    script(src='/js/campjs.min.js')
