!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CampJS
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='stylesheet', href='/css/screen.min.css?v=3')
    link(href='http://fonts.googleapis.com/css?family=Press+Start+2P',rel='stylesheet',type='text/css')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    .bg.sky.repeat(data-stellar-background-ratio="0.0")
    .bg.clouds.repeat(data-stellar-background-ratio="0.6")
    .bg.small-mountains.repeat(data-stellar-background-ratio="0.6")
    .bg.large-mountains(data-stellar-background-ratio="0.6")
    .bg.monolith(data-stellar-background-ratio="0.9")
    .container.masthead(data-stellar-background-ratio="1")
      h1 CampJS
      h2 Gold Coast Hinterland, Australia. September 24th - 27th
    .container.content
      h2 Join us for a two day Javascript hack retreat
      .row
        .span4.offset4
          form
            input(type='text')
    script(src='/js/libs.min.js')
    script(src='/js/templates.min.js')
    script(src='/js/campjs.min.js')
