!!! 5
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title CampJS
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='apple-touch-icon', href='/apple-touch-icon.png')
    link(rel='stylesheet', href='/css/screen.min.css?v=3')
    //if lt IE 9
      script(src='http://html5shiv.googlecode.com/svn/trunk/html5.js')

  body
    .bg.sky.repeat(data-stellar-ratio="0.3")
    .bg.clouds.repeat(data-stellar-ratio="0.30")
    .bg.small-mountains.repeat(data-stellar-ratio="0.295")
    .bg.large-mountains(data-stellar-ratio="0.30")
    .bg.grass.repeat(data-stellar-ratio="0.3")
    .bg.back(data-stellar-ratio="0.38")
    .bg.mid(data-stellar-ratio="0.42")
    .bg.fore(data-stellar-ratio="0.44")
    .masthead
      h1 CampJS
      h2 Gold Coast Hinterland, Australia. September 24th - 27th
    .container.content(data-stellar-ratio="0.46")
      .row
        .span4.offset4
          h2 Join us for a weekend-long Javascript hack retreat.
      .row
        .span4.offset4
          form.register(method="POST", action="http://campjs.nodejitsu.com/register")
            .input-append
                input.details.span2(size='16', type='text', name='details')
                input.btn(type='submit', value="Get Notified!")
          .message
            p More details will be released soon.

      .row
        .span6.offset3
          h2.
            CAMPJS starts on Friday Night, September 24 ends Monday Morning the 27th.
      .row
        .span4.offset3
          h3 Free
          ul
            li Food
            li Accomodation
            li Alcohol
            li Advice
        .span4
          h3 Where/When?
          p
            Gold Coast Hinterland Australia,
            September 24 ends Monday Morning the 27th
      .row
        .span6.offset3
          h2 Workshops
        .span4.offset3
          h3 Client
          ul
            li Backbone
            li Ember
            li AngularJS
            li JQuery
            li Build Tools
            li Testing
        .span4
          h3 Server
          ul
            li NodeJS 101
            li Express
            li Flatiron
            li Testing
            li Web Sockets
            li Scaling
      .footer.row
        h1 CampJS
        h2 Gold Coast Hinterland, Australia. September 24th - 27th


    script(src='/js/libs.min.js')
    script(src='/js/templates.min.js')
    script(src='/js/campjs.min.js')
